/* ========== variables ========== */
:root {
  /* text */
    --text-black-high: rgba(0, 0, 0, 0.87);
    --text-black-med: rgba(0, 0, 0, 0.6);
    --text-black-low: rgba(0, 0, 0, 0.38);
    --text-white-high: rgba(255, 255, 255, 0.87);
    --text-white-med: rgba(255, 255, 255, 0.6);
    --text-white-low: rgba(255, 255, 255, 0.38);
  /* misc */
    --active: 0.87;
    --inactive: 0.6;
    --disabled: 0.38;
}

:root[theme="dark"] {
  /* brand colors */
  --color-primary: ; /* 200 tonal range */
  --color-primary-var: ; /* 500 tonal range */
  --color-secondary: ; /* 50-200 tonal range */
  --color-secondary-var: ; /* 50-200 tonal range */
  /* backgrounds */
  --background-base: rgb(18, 18, 18);
  --input-bg: rgb(39, 39, 39);
  /* elevation refs */
  --elevation-00dp: rgb(18, 18, 18); /* text btn, top app bar (rest), */
  --elevation-01dp: rgb(30, 30, 30); /* searchbar (rest), card (rest), switch */
  --elevation-02dp: rgb(33, 33, 33); /* btn (resting) */
  --elevation-03dp: rgb(37, 37, 37); /* refresh indicator search bar */
  --elevation-04dp: rgb(39, 39, 39); /* top app bar (scrolled/resting) */
  --elevation-06dp: rgb(44, 44, 44); /* floating action btn snackbar */
  --elevation-08dp: rgb(46, 46, 46); /* bottom/side sheet, btm nav/app bar, menu/submenu, card (picked up), btn (pressed) */
  --elevation-12dp: rgb(51, 51, 51); /* floating action btn (pressed) */
  --elevation-16dp: rgb(54, 54, 54); /* modal bottom/side, nav drawer */
  --elevation-24dp: rgb(56, 56, 56); /* dialogue */
  /* text */
  --text-primary: rgb(255, 255, 255, 0.87);
  --text-invert: rgba(0, 0, 0, 0.87);
  /* borders */
  --border-primary: rgb(240, 240, 240);
  --focus: 2px dotted rgb(224, 224, 224);
  /* images */
  --theme-toggle-icon: url("/dist/assets/images/icons/dark_mode-white-24dp.svg");
  /* misc */
  --error: rgb(226, 162, 174); /* black text */
  --warning: rgb(255, 245, 157); /* black text */
  --success: rgb(165, 214, 167); /* black text */
  --info: rgb(144, 202, 249); /* black text */
}

:root[theme="light"] {
  /* brand colors */
  --color-primary: ; /* 500 tonal range */
  --color-primary-var: ; /* +/- 200 of primary */
  --color-secondary: ; /* 500 tonal range */
  --color-secondary-var: ; /* +/- 200 of primary */
  /* backgrounds */
  --background-base: rgb(240, 240, 240);
  --input-bg: rgb(220, 220, 220);
  /* text */
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-invert: rgb(255, 255, 255, 0.87);
  /* borders */
  --border-primary: rgb(18, 18, 18);
  --focus: 2px dotted rgb(224, 224, 224);
  /* images */
  --theme-toggle-icon: url("/dist/assets/images/icons/light_mode-black-24dp.svg");
  /* misc */
  --error: rgb(140, 0, 25); /* white text */
  --warning: #ffeb3b; /* black text */
  --success: rgb(76, 175, 80); /* black text */
  --info: rgb(71, 167, 245); /* black text */
}


/* ========== global styles ========== */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background-base);
  color: var(--text-primary);
}

a {
  text-decoration: none;
}


/* ========== header/main nav ========== */
header {
  width: 100%;
  padding: 10px;
  background-color: var(--background-base)
}

/* ========== accessibility ========== */
#accessibility-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skip-to-main {
  color: var(--text-primary);
}

#theme-switch {
  flex-shrink: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: var(--theme-toggle-icon);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#theme-switch:hover {
  cursor: pointer;
}


/* ========== main content ========== */
#main {
  width: 100%;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: auto;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.5rem;
}

#form-requirements {
  margin-bottom: 50px;
}

label {
  display: inline-block;
  width: 100%;
}

label:not(:first-of-type) {
  margin-top: 35px;
}

input:not([type="submit"]) {
  height: 2.5rem;
  margin-top: 5px;
  padding: 0 10px;
  background-color: var(--input-bg);
  color: var(--text-primary);
  border: 2px inset var(--text-primary);
  border-radius: 10px;
}

#form-requirements,
input {
  width: 100%;
}

form span {
  display: inline-block;
  width: 100%;
}

#zip-requirements,
#password-requirements {
  margin-top: 5px;
  font-size: 0.85rem;
}

.form-error {
  margin-top: 8px;
  padding: 10px 5px;
  background-color: var(--error);
  color: var(--text-invert);
  border-radius: 10px;
}

.invalid {
  box-shadow: 0 0 0 2px var(--error);
}

input[type="submit"] {
  width: 50%;
  height: 3rem;
  margin: 75px 25%;
  border-radius: 20px;
}

input[type="submit"]:hover {
  cursor: pointer;
}


/* ========== footer/secondary nav ========== */
#lower-nav {
  width: 100%;
  height: 50px;
  background: rgb(4, 0, 255);
}

/* ========== media queries ========== */
@media only screen and (min-width: 430px) {
}

@media only screen and (min-width: 768px) {
  #accessibility-container {
    justify-content: flex-start;
  }

  #skip-to-main {
    margin-right: 50px;
  }
}

/* @media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

} */

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: unset !important;
  }

  .animated {
    transition: none !important;
  }
}